{% extends "base_page.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
    	
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.account.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user_account.username }}</h2>
          
        </div>
        
      </div>
      <div class="row" >
        <div class="col">Your Email Addreses</div>
        <div class="col">
          <a class="dropdown-item" href="{% url 'email-add' %}">Add New Email</a>
        </div>
      </div>
      </div>
        <div class="row">
          <div class="col-6">Email</div>
          <div class="col-2">Visabilty</div>
          <div class="col-2">Confirm</div>
          <div class="col-2">Delete</div>
        </div>
        {% for email in emails %}
          <div class="row">
          <div class="col-6">{{ email.value }}</div>
          <div class="col-2">{{ email.vsbilty }}</div>
          <div class="col-2">{{ email.valid }}</div>
          <div class="col-2">
            <button type="button" class="btn btn-outline-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
              </svg>
            </button>
          </div>
        </div>
        {% endfor %}
      </div>
      
    
{% endblock content %}

